footer {
  background-color: var(--background-Secondary_Color);
  color: var(--text-Secondary_Color);
}

.InitialContent {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
