header {
  background-color: var(--background-Tertiary_Color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20rem;
  padding: 0.2rem 0 0.2rem 0;
}

img {
  width: 4rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  all: unset;
  color: var(--text-Secondary_Color);
  cursor: pointer;
}

a:hover {
  color: var(--text-HoverNavHeader_Color);
}

li {
  font-size: 0.9rem;
}

nav {
  padding: 0 1em 0 0;
}

.listLinks {
  display: flex;
  gap: 6rem;
  list-style-type: none;
}

@media screen and (min-width: 1400px) {
  header {
    background-color: var(--background-Tertiary_Color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40rem;
    padding: 0.2rem 0 0.2rem 0;
  }

  li {
    font-size: 1rem;
  }
}
